APP_NAME=TukangDekat
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_tukangdekat
DB_USERNAME=root
DB_PASSWORD=rahasia

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database

PAYMENT_GATEWAY_DRIVER=xendit
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
XENDIT_API_KEY=
XENDIT_BASE_URL=https://api.xendit.co
XENDIT_CHARGE_URL=https://api.xendit.co/v2/invoices
XENDIT_DISBURSEMENT_PATH=/payouts
XENDIT_DEBUG=0
GITHUB_API_KEY=
N8N_WEBHOOK_URL=http://host.docker.internal:5678/webhook-test
